* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    padding: 20px;
    width: 100vw;
    height: 95vh;
}

#factContainer {
    width: 100%;
    position: relative;
    background: #eee;
    padding: 2rem 4rem 2rem 4rem;
    /*-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);*/
    /*box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);*/
}

#innerContainer {
    display: flex;
    justify-content: space-between;
    height: 50%;
    flex-direction: column;
    align-items: center;
}

#factButton {
    font-size: 24px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #1d5f18;
    transition: opacity 1s;
}

#factButton:hover {
    background-color: #3e8e41
}


#factButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #1d5f18;
    transform: translateY(4px);
}

#factButton.hide {
    opacity: 0;
    pointer-events: none;
}

@keyframes inputInsert {
    from {
        opacity: 1;
        font-size: 48px;
    }

    to {
        opacity: 0;
        font-size: 0;
        padding-top: 50px;
    }
}

#factInput {
    text-align: center;
    font-size: 24px;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: opacity 2s;
    opacity: 1;
}

#factInput.hide {
    animation: inputInsert 1s;
    opacity: 0;
    pointer-events: none;
}

#factInput:focus {
    outline: none;
}

#dogEar {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 40px;
    border-color: white white white #ccc;
    position: absolute;
    right: 0;
    top: 0;
}

/*Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #factContainer {
        padding: 3rem 6rem 3rem 6rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #factContainer {
        padding: 7rem 14rem 7rem 14rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #factContainer {
        padding: 12rem 20rem 12rem 20rem;
    }
}